main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 0 40px;
    margin-top: 20px;
}

.hero {
    width: 100%;
}

.hero-container {
    background-image: url('../images/img-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-width: 1360px;
    border-radius: 40px;
    padding: 100px;
}

.hero-offer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 530px;
    gap: 40px;

    color: var(--text-inverse);
}

.hero-offer > h1 > span {
    color: var(--text-accent);
    font-style: italic;
}

.hero-offer > button {
    padding: 20px 78px;

    color: var(--text-primary);
    background-color: var(--bg-page);
    border-radius: 100px;
    border: none;
}